<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link href="CSS/camName.css" rel="stylesheet">
  </head>
  <body>
    <div id="toCam1Spacer"></div>
    <div id="preCam1Spacer"></div>
    <div id="cam1"></div>
    <div id="toCam2Spacer" class="toCam2Spacer-melee1Cam"></div>
    <div id="preCam2Spacer" class="preCamSpacer-melee"></div>
    <div id="cam2" class="camName cam-melee">Bottom/Right cam</div>

    <!-- Use the same jQuery that is used on the dashboard-->
    <script src="/components/jquery/dist/jquery.min.js"></script>

    <!-- Load our view's code-->
    <script src="camName.js"></script>
  </body>
</html>