/* Fonts */
@font-face {
    font-family: "Gotham";
    src: url(../../Gotham) format("truetype");
}

/* Body & Show/Hide Pieces */
body { 
    font-family: "Gotham", Arial;
	color: #ffffff;
    font-size: 25px;
}
.showText {
    opacity: 1;
}
.hideText {
    opacity: 0;
}

/* To Spacers */
.toCam1Spacer-melee2Cam {
    height: 265px;
    width: 1px;
    border: 10px solid yellowgreen;
}
.toCam1Spacer-smash4 {
    height: 1040px;
    width: 1px;
    border: 10px solid yellowgreen;
}
.toCam2Spacer-melee1Cam {
    height: 580px;
    width: 1px;
    border: 10px solid yellowgreen;
}
.toCam2Spacer-melee2Cam {
    height: 300px;
    width: 1px;
    border: 10px solid yellowgreen;
}
.toCam2Spacer-smash4 {
    float: left;
    border: 10px solid yellowgreen;
}

/* Pre Cam Spacers */
.preCamSpacer-melee {
    width: 1475px;
    float: left;
    border: 10px solid yellowgreen;
}
.preCam1Spacer-smash4 {
    width: 0px;
    float: left;
    border: 10px solid yellowgreen;
}
.preCam2Spacer-smash4 {
    widows: 1340px;
    float: left;
    border: 10px solid yellowgreen;
}

/* Cam specific */
.cam-smash4 {
    float: left;
    width: 290px;
} 
.cam-melee {
    float: left;
    width: 310px;
}
.cam2-smash4 {
    text-align: right;
}