.name {
    /* Set text style */
    font-size: 30px;
    width: 450px;
    float: left;

    /* Start the text hidden */
    /*opacity: 0;*/
}

.preNameSpacer {
	width: 350px;
	float: left;
}

.centerNameSpacer {
	width: 300px;
	float: left;
}

.leftname {
	text-align: left;
}

.rightname {
	text-align: right;
}