/* Fonts */
@font-face {
    font-family: "Gotham";
    src: url(../../Gotham) format("truetype");
}

/* Body & Show/Hide Pieces */
body { 
    font-family: "Gotham", Arial;
	color: #ffffff;
}
.showText {
    opacity: 1;
}
.hideText {
    opacity: 0;
}


/* Title Stuff */
.title-melee {
    width: 25px;
    float: left;
    border: 10px solid yellowgreen;
}
.title {
	font-size: 30px;
    float: left;
}