/* Fonts */
@font-face {
    font-family: "Gotham";
    src: url(../../Gotham) format("truetype");
}

/* Body & Show/Hide Pieces */
body { 
    font-family: "Gotham", Arial;
	color: #ffffff;
}
.showText {
    opacity: 1;
}
.hideText {
    opacity: 0;
}


/* Title Stuff */
.titleSpacer-melee {
    width: 10px;
    float: left;
    border: 10px solid yellowgreen;
}
.titleSpacer-smash4 {
    width: 200px;
    float: left;
    border: 10px solid yellowgreen;
}
.title {
    padding-top: 1px;
	font-size: 33px;
    float: left;
}