/* Fonts */
@font-face {
    font-family: "Gotham";
    src: url(../../Gotham) format("truetype");
}

/* Body & Show/Hide Pieces */
body { 
    font-family: "Gotham", Impact;
	color: #ffffff;
}
.name {
    font-size: 38px;
    text-align: center;
}
.leftName {
	text-align: left;
}
.rightName {
	text-align: right;
}