/* Fonts */
@font-face {
    font-family: "Gotham";
    src: url(../../Gotham) format("truetype");
}

/* Body & Show/Hide Pieces */
body { 
    font-family: "Gotham", Arial;
	color: #ffffff;
}
.score {
	font-size: 30px;
}